[Unit]
Description=Run Safe-Edge k3s-agent fencing watchdog

[Timer]
OnBootSec=5min
OnUnitActiveSec=10s
AccuracySec=1s
Unit=safe-edge-agent-watchdog.service

[Install]
WantedBy=timers.target
